13th_Dec_FSA_json_o0QO.json
{
  "name": "13th_Dec_FSA",
  "nodes": [
    {
      "parameters": {
        "content": "## Class Agenda\n\n### Webhook - Security \n### Google Workspace - How to connect \n        - Gmail , Doc , Drive , Sheet ",
        "height": 224,
        "width": 432,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1472,
        -432
      ],
      "id": "c499ed21-0d85-4774-ad3f-cf542e7322d5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -144,
        -432
      ],
      "id": "f9480bd8-70cb-4da8-af36-56882e48130a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dbccb470-ea4e-4462-a748-f372c9f59fc8",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        -432
      ],
      "id": "68c3da93-6aad-4790-acf9-3ee3c27bbd19",
      "name": "Webhook",
      "webhookId": "dbccb470-ea4e-4462-a748-f372c9f59fc8"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        160,
        -432
      ],
      "id": "d2949b9f-96c6-4d39-a048-355e5cfe0b05",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "## \"Which Auth Do I Use?\"\n\n### Start Here\n- Always check the external service first.\n- Use the simplest auth method that works.\n- Avoid over-engineering authentication.\n\n### Does the external service already support a specific auth method?\n- Yes → Use the auth method they officially support\n- No → Continue below\n\n### Do you need time-limited access or user-specific metadata?\n- Yes → Use JWT\n- No → Continue below\n\n### Are you using a simple API key or static token?\n- Yes → Use Header Auth\n- No → Continue below\n\n### Does the service support standard HTTP Basic Auth?\n- Yes → Use Basic Auth\n- No → Use Header Auth (most flexible option)\n\n### Real-World Examples\n- Basic Auth  \n  Connecting to enterprise tools like Jira, Jenkins, legacy CRMs\n\n- Header Auth  \n  Modern APIs like Slack, Discord, Stripe, custom SaaS APIs using API keys\n\n- JWT  \n  Microservices, mobile backends, AI agents, user-level permissions\n\n### n8n Practical Tip\n- If unsure → Start with Header Auth\n- JWT is best when security + expiry + user context is required\n- Basic Auth is fine for internal or trusted systems only",
        "height": 960,
        "width": 560,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -976,
        -528
      ],
      "id": "e23f790b-ec66-418a-8f04-d3e6c11a5a97",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "model": "nex-agi/deepseek-v3.1-nex-n1:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -128,
        -256
      ],
      "id": "29fb6f7f-9ff2-46d1-b578-d6b191ebb073",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "5NHf7ILbLoMVxKcb",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8a37542f-f4d9-4be1-9a91-d435f0719bbe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c3e645f5109637be2409447c66b5bc87c40395588b268359a2148764bbf4227e"
  },
  "id": "zboomRhTQn5WtbDT",
  "tags": []
}