Euri_API.json
{
  "name": "Euri_API",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "31d64715-f366-48f5-8c86-792f2d430047",
      "name": "When chat message received",
      "webhookId": "775493b2-ca7b-41f9-9a49-afa19f54a9cd"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c5b5a5b6-55e4-469d-8945-142a469d2b44",
              "name": "chatInput",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "6b1278f5-0a9d-4043-a78a-1d617efa1253",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.euron.one/api/v1/euri/chat/completions ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"messages\": [{\"role\": \"user\", \"content\": \"{{ $json.chatInput }}\"}],\n    \"model\": \"gpt-4.1-nano\"\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        0
      ],
      "id": "c7a9f8c5-a702-4dc1-82c8-0df775fe0594",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "VmuXpgo8FhBlBuSu",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4d599f77-96ef-4967-a3fe-edb92bef63ec",
              "name": "choices[0].message.content",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        144
      ],
      "id": "2a772153-bd6c-4672-9b81-d8c066fdda59",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "855c1578-b96b-4597-8e7f-72838944da02",
  "meta": {
    "instanceId": "378c534abfc2e5cd5200324ec322cd8dd66a5a997b9cae15d10a841d3ce5a576"
  },
  "id": "vRXrOUX424OAe2PW",
  "tags": []
}