Stock_Agent.json
{
  "name": "Stock_Agent",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14d9076e-27ea-4846-8b44-f83cf4022b9e",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "e63e67cb-d929-4ae6-991a-2234269a6171",
      "name": "Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2a8ff2d-6b59-4ad6-a2e7-8705354f4105",
              "name": "response",
              "value": "Error occurred. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        192
      ],
      "id": "789776cd-5a5f-4df2-b12d-dbae3c383e4e",
      "name": "Try Again"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -704,
        80
      ],
      "id": "42542670-3f41-40c8-bba0-aaa7d2b57ca7",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": "x-ai/grok-4.1-fast",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -640,
        320
      ],
      "id": "f9c5f5c5-a99f-421c-9455-d0c2676d18ad",
      "name": "grok-4.1 fast",
      "credentials": {
        "openRouterApi": {
          "id": "5NHf7ILbLoMVxKcb",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "description": "Use this Search Agent  when information is not available in the input or requires external lookup or need to search letest information from web, internet or anything recent.\n\nThis tool is meant for:\n- Finding relevant data, references, or examples related to automation, AI, SaaS, workflows, or tools\n- Fetching fresh or missing information that cannot be inferred logically\n\nDo NOT use this tool if the answer can be generated using reasoning alone.\n\nAlways return a short, structured result after searching.",
        "workflowId": {
          "__rl": true,
          "value": "xz3AFt53UbEvPFQv",
          "mode": "list",
          "cachedResultUrl": "/workflow/xz3AFt53UbEvPFQv",
          "cachedResultName": "Sub_Search"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -208,
        320
      ],
      "id": "ab314372-b277-4a2d-8ce0-940379c716ac",
      "name": "Search_Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        -528,
        320
      ],
      "id": "67850b05-a7af-4177-bad0-326591b732ae",
      "name": "Think"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query}}",
        "options": {
          "systemMessage": "=You are a Stock Research Agent.\n\nDefault behavior:\n- Always assume the user is asking about **Indian stock markets** unless explicitly stated otherwise.\n- Start every response with **current market context**, including:\n  - NIFTY 50 (latest level + trend)\n  - BANK NIFTY (latest level + trend)\n\nCore responsibilities:\n- Answer questions related to stocks, indices, sectors, earnings, news, fundamentals, or technical levels.\n- Provide **clear, actionable, and structured insights** (not financial advice).\n- Keep responses concise and easy to understand.\n\nTool usage rules:\n- Use **Search_Agent** only when:\n  - Latest prices, news, earnings, or macro updates are required\n  - Stock data is time-sensitive or factual\n- Use **Think** only when:\n  - Comparing multiple stocks\n  - Doing reasoning, scenario analysis, or trend interpretation\n- Do NOT use tools if the answer can be given from general market knowledge.\n\nInternational stocks:\n- If the user explicitly mentions US, global, crypto, or international markets, switch context accordingly.\n- Otherwise, remain focused on Indian markets.\n\nOutput format:\n1. Market Snapshot (NIFTY / BANK NIFTY)\n2. Stock or Topic Insight\n3. Key Takeaway (1–2 lines)\n\nTone:\n- Neutral, informative, practical\n- No hype, no predictions stated as facts\n\nCurrent Date\n{{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -448,
        80
      ],
      "id": "51e62bfc-edb9-4274-b500-2c097b0a5ec7",
      "name": "Stock_Agent",
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Stock_Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "grok-4.1 fast": {
      "ai_languageModel": [
        [
          {
            "node": "Stock_Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search_Agent": {
      "ai_tool": [
        [
          {
            "node": "Stock_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Stock_Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Stock_Agent": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b2b8dfe5-e44a-4bd1-933b-b44d86b4af70",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c3e645f5109637be2409447c66b5bc87c40395588b268359a2148764bbf4227e"
  },
  "id": "Vj8Ooa2dndbB3HRZ",
  "tags": []
}